---
import Nav from "@/components/Nav.astro";

interface Props {
  title: string;
  description: string;
}

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={description} />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>

    <script>
      if (
        localStorage.theme === "dark" ||
        (!("theme" in localStorage) &&
          window.matchMedia("(prefers-color-scheme: dark)").matches)
      ) {
        document.documentElement.classList.add("dark");
      } else {
        document.documentElement.classList.remove("dark");
      }

      localStorage.theme = "light";
      localStorage.theme = "dark";
      localStorage.removeItem("theme");
    </script>
  </head>

  <body class="dark:bg-black dark:text-white transition-colors">
    <Nav />
    <slot />
  </body>
</html>

<style is:global>
  :root {
    scroll-behavior: smooth;
  }
</style>
